li {
    position: relative;
}
li + li: before {
        position: absolute;
        top: -1 px;
        left: 0;
        content: '';
        width: 100 % ;
        height: 1 px;
        border - top: 1 px solid #000;
		transform:scaleY(0.5);
	}