ul{
	list-style: none;
}
ul,h3{
	margin: 0;padding: 0;
}
li h3{
	font-size: 14px;
	font-weight: 400;
}
li{
	display: block;
	height:42px;
	line-height: 42px;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
}
li i{
	width: 34px;
	height: 34px;
	float: left;
	margin: 0 10px 0 10px;
}
.cat{
	width: 150px;
	background: #f8f8f8;
	border: 1px solid #bbb;
}
@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot"); /* IE9 Compat Modes */
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
             url("../fonts/icomoon.woff") format("woff"), /* Modern Browsers */
             url("../fonts/icomoon.ttf")  format("truetype"), /* Safari, Android, iOS */
             url("../fonts/icomoon.svg") format("svg"); /* Legacy iOS */
    }
 .icomoon{
  	font-family: "icomoon";
  	font-style: normal;
  	font-weight: normal;
  	font-size: 18px;
  	text-align: center;
  	-webkit-font-smoothing:antialiased;/* 抗锯齿 */
  	-moz-osx-font-smoothing:grayscale;/* 抗锯齿 */
  }
  .cat-1 i{
  	color: red;
  }